/*@font-face {
  font-family: 'Montserrat';
  src: url('../Fonts/Montserrat/Montserrat-Black.ttf') format('truetype'),
  url('../Fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'),
  url('../Fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'),
  url('../Fonts/Montserrat/Montserrat-BoldItalic.ttf') format('truetype'),
  url('../Fonts/Montserrat/Montserrat-Italic.ttf') format('truetype'),
  url('../Fonts/Montserrat/Montserrat-Light.ttf') format('truetype'),
  url('../Fonts/Montserrat/Montserrat-Lightitalic.ttf') format('truetype'),
  url('../Fonts/Montserrat/Montserrat-Medium.ttf') format('truetype'),
  url('../Fonts/Montserrat/Montserrat-Mediumitalic.ttf') format('truetype'),
  url('../Fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'),
  url('../Fonts/Montserrat/Montserrat-Thin.ttf') format('truetype'),
  url('../Fonts/Montserrat/Montserrat-Thinitalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body{
   font-family: "Montserrat", sans-serif;
 }
*/
header nav.navbar {
  padding: 0;
}
header nav.navbar img {
  width: 90%;
  background: #ea4235;
  padding: 10%;
}
header nav.navbar a {
  padding: 0;
}
header nav.navbar li {
  text-transform: uppercase;
}
header nav.navbar i {
  margin-right: 10px;
}

header nav.navbar:hover #menu ul a {
  color: #ea4235;
}

header nav.navbar:hover {
  color: #ea4235;
}

article#hero {
  position: relative;
}
article#hero .title {
  position: absolute;
  z-index: 1;
  top: 33%;
}
article#hero .title h1 {
  color: white;
  font-size: 2em;
}
article#hero .title button {
  color: white;
  background: #ea4235;
  border-radius: 25px;
  padding: 5px 30px 5px 30px;
}
article#hero .title button:hover {
  color: #ea4235;
  background: white;
}
article#hero #carousel img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  article#hero {
    position: relative;
  }
  article#hero .title {
    position: relative;
    margin-top: 0;
  }
  article#hero .title h1 {
    color: black;
    text-align: center;
  }
  article#hero .title button {
    color: white;
    background: #ea4235;
    border-radius: 25px;
    padding: 5px 30px 5px 30px;
    width: 33%;
    text-align: center;
    margin-left: 33%;
  }
}
article#about {
  margin-top: 50px;
}
article#about div {
  padding: 0;
  margin-left: 0;
}
article#about div img {
  padding: 0;
  width: 100%;
}
article#about div div.text-about {
  background: #ea4235;
  color: white;
  padding: 30px;
}
article#about div div.text-about button {
  color: #ea4235;
  background: white;
  border-radius: 25px;
  padding: 5px 30px 5px 30px;
}
article#about div div.text-about button i {
  font-size: 0.8em;
}
article#about div div.text-about button:hover {
  color: white;
  background: #ebebeb;
  border: 2px #ea4235 solid;
}

article#services {
  margin-top: 50px;
}
article#services .service-unit i {
  font-size: 10em;
}
article#services h3 {
  margin-bottom: 90px;
}
article#services h4 {
  margin-top: 30px;
}

article#works {
  margin-top: 50px;
  padding-left: 15px;
}
article#works div div.work_unit {
  position: relative;
  padding: 0;
}
article#works div div.work_unit .legend {
  position: absolute;
  left: 29px;
  top: 28px;
  color: white;
  z-index: 3;
}
article#works div div.work_unit img {
  position: relative;
  width: 277.5px;
  height: 277.5px;
  z-index: 0;
}
article#works div div.work_unit .background {
  display: flex;
  position: absolute;
  top: 0;
  width: 277.5px;
  height: 277.5px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  z-index: 2;
}
article#works div div.work_unit .background .button-works {
  display: none;
  margin: auto;
  color: white;
  background: rgba(0, 0, 0, 0);
  border-radius: 25px;
  padding: 5px 30px 5px 30px;
  border: white 1px solid;
}
article#works div div.work_unit .background:hover .button-works {
  display: block;
}
article#works p.works-fin {
  margin: 10px;
  color: #ea4235;
}
article#works div#modal-works .modal-dialog .modal-content {
  padding: 30px 30px 70px 30px;
}
article#works div#modal-works .modal-dialog .modal-content h4 {
  padding-left: 0;
}
article#works div#modal-works .modal-dialog .modal-content p {
  font-size: 0.7em;
  padding-left: 0;
}
article#works div#modal-works .modal-dialog .modal-content img {
  width: 100%;
}
article#works div#modal-works .modal-dialog .modal-content .btn-lorem {
  color: #ea4235;
  background: white;
  border-radius: 25px;
  padding: 5px 30px 5px 30px;
  border: #ea4235 1px solid;
}
article#works div#modal-works .modal-dialog .modal-content .btn-cuncat {
  color: white;
  background: #ea4235;
  border-radius: 25px;
  padding: 5px 30px 5px 30px;
}

@media screen and (max-width: 1200px) {
  article#works a div div.work_unit img, article#works a div div.work_unit .background {
    width: 232.5px;
    height: 232.5px;
  }
}
@media screen and (max-width: 990px) {
  article#works a div div.work_unit img, article#works a div div.work_unit .background {
    width: 277.5px;
    width: 277.5px;
  }
}
article#contact {
  margin-top: 50px;
}
article#contact .container_contact {
  margin-left: 0;
  margin-right: 0;
  background: #323232;
  color: white;
  padding: 20px;
}
article#contact .container_contact .address {
  margin-top: 20px;
}
article#contact .container_contact .address ul#myTab li a {
  color: white;
}
article#contact .container_contact .address ul#myTab li a h4 {
  text-transform: uppercase;
}
article#contact .container_contact .address ul#myTab li a:hover {
  border: none;
}
article#contact .container_contact .address i {
  margin-right: 10px;
}
article#contact .container_contact div.form {
  margin-top: 20px;
}
article#contact .container_contact div.form form div.offices-tabs {
  border-bottom: white 1px solid;
  padding-left: 0;
  margin-left: 20px;
  margin-bottom: 20px;
}
article#contact .container_contact div.form form div.offices-tabs input {
  background: #323232;
  border: white;
  color: white;
  width: 80%;
  margin-left: 10px;
}
article#contact .container_contact div.form form button {
  color: white;
  border: white 2px solid;
  border-radius: 25px;
}
article#contact .container_contact div.form form button:hover {
  color: #ea4235;
}

footer .footer {
  margin-left: 0;
  margin-right: 0;
  background: #ea4235;
  font-size: 0.6em;
  color: white;
  padding-top: 10px;
}
footer .footer a:hover {
  text-decoration: underline;
}

.nav-pills {
  border-bottom: none;
}
.nav-pills .nav-link.active {
  color: white;
  background-color: #323232;
  border-color: #323232;
  border-bottom: none;
}
.nav-pills .nav-link.active h4 {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
