/*@font-face {
  font-family: 'Montserrat';
  src: url('../Fonts/Montserrat/Montserrat-Black.ttf') format('truetype'),
  url('../Fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'),
  url('../Fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'),
  url('../Fonts/Montserrat/Montserrat-BoldItalic.ttf') format('truetype'),
  url('../Fonts/Montserrat/Montserrat-Italic.ttf') format('truetype'),
  url('../Fonts/Montserrat/Montserrat-Light.ttf') format('truetype'),
  url('../Fonts/Montserrat/Montserrat-Lightitalic.ttf') format('truetype'),
  url('../Fonts/Montserrat/Montserrat-Medium.ttf') format('truetype'),
  url('../Fonts/Montserrat/Montserrat-Mediumitalic.ttf') format('truetype'),
  url('../Fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'),
  url('../Fonts/Montserrat/Montserrat-Thin.ttf') format('truetype'),
  url('../Fonts/Montserrat/Montserrat-Thinitalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body{
   font-family: "Montserrat", sans-serif;
 }
*/
nav.navbar {
  padding: 0;
}
nav.navbar img {
  width: 90%;
  background: #ea4235;
  padding: 10%;
}
nav.navbar a {
  padding: 0;
}
nav.navbar li {
  text-transform: uppercase;
}
nav.navbar i {
  margin-right: 10px;
}

article#hero {
  position: relative;
}
article#hero .title {
  position: absolute;
  z-index: 1;
  top: 33%;
}
article#hero .title h1 {
  color: white;
  font-size: 2em;
}
article#hero .title button {
  color: white;
  background: #ea4235;
  border-radius: 25px;
  padding: 5px 30px 5px 30px;
}
article#hero #carousel img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  article#hero {
    position: relative;
  }
  article#hero .title {
    position: relative;
    margin-top: 0;
  }
  article#hero .title h1 {
    color: black;
    text-align: center;
  }
  article#hero .title button {
    color: white;
    background: #ea4235;
    border-radius: 25px;
    padding: 5px 30px 5px 30px;
    width: 33%;
    text-align: center;
    margin-left: 33%;
  }
}
article#about {
  margin-top: 50px;
}
article#about div {
  padding: 0;
  margin-left: 0;
}
article#about div img {
  padding: 0;
  width: 100%;
}
article#about div div.text-about {
  background: #ea4235;
  color: white;
  padding: 30px;
}
article#about div div.text-about button {
  color: #ea4235;
  background: white;
  border-radius: 25px;
  padding: 5px 30px 5px 30px;
}
article#about div div.text-about button i {
  font-size: 0.8em;
}

article#services {
  margin-top: 50px;
}
article#services .service-unit i {
  font-size: 10em;
}
article#services h3 {
  margin-bottom: 90px;
}
article#services h4 {
  margin-top: 30px;
}

article#works {
  margin-top: 50px;
}
article#works .work_unit {
  position: relative;
  padding: 0;
}
article#works .work_unit .legend {
  position: absolute;
  left: 29px;
  top: 28px;
  color: white;
}
article#works p.works-fin {
  margin: 10px;
  color: #ea4235;
}

article#contact {
  margin-top: 50px;
}
article#contact .container_contact {
  margin-left: 0;
  margin-right: 0;
  background: #323232;
  color: white;
  padding: 20px;
}
article#contact .container_contact .address {
  margin-top: 20px;
}
article#contact .container_contact .address ul#myTab li a {
  color: white;
}
article#contact .container_contact .address ul#myTab li a h4 {
  text-transform: uppercase;
}
article#contact .container_contact .address i {
  margin-right: 10px;
}
article#contact .container_contact div.form form div.offices-tabs {
  border-bottom: white 1px solid;
  padding-left: 0;
  margin-left: 20px;
  margin-bottom: 20px;
}
article#contact .container_contact div.form form div.offices-tabs input {
  background: #323232;
  border: white;
  color: white;
  width: 80%;
  margin-left: 10px;
}
article#contact .container_contact div.form form button {
  color: white;
  border: white 2px solid;
  border-radius: 25px;
}

footer .footer {
  margin-left: 0;
  margin-right: 0;
  background: #ea4235;
  font-size: 0.7em;
  color: white;
  padding-top: 10px;
}

.nav-tabs {
  border-bottom: none;
}
.nav-tabs .nav-link.active {
  color: white;
  background-color: #323232;
  border-color: #323232;
  border-bottom: none;
}
.nav-tabs .nav-link.active h4 {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
